<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: antiquewhite; position: absolute; width: 1556px;">
<br/><br/>
<div align="center"><img src="/static/graph/chartK.png"></div>
    <table align="center" cellpadding="10px" >
        <caption> </caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>날짜</th><th> 총 확진 </th><th> 추가 확진 </th><th> 치료중 </th><th> 총 퇴원 </th><th> 사망 </th>
            </tr>
        </thead>
        {% for k in res %}
        <tr>
            <td>{{k.T_DT}}</td><td>{{k.T_HJ}}</td><td>{{k.N_HJ}}</td>
            <td>{{k.TY_CARE}}</td><td>{{k.RECOVER}}</td><td>{{k.DEATH}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>