<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>코로나19 공공데이터 서비스 홈페이지 </title>
</head>
<body style="background-color: antiquewhite; height: auto;">
    <div style="position: absolute; width: 1556px; height: 910px;">
    <h3 style="font-size: 46px; margin-left: 402px;">코로나19 공공데이터 서비스 조회 </h3><br/><br/><br/><br/><br/>
    <a href="/infection/main" style="outline-style: solid; padding: 83px; color: white; background-color: darksalmon; margin-left: 356px;">&emsp;코로나 19 현황&emsp;</a>
    <a href="/corona_vaccine/status" style="outline-style: solid; padding: 82px; color: white; background-color: salmon; float: right; margin-inline: 415px; margin-top: -105px;">&emsp;예방 접종 현황&emsp;</a>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <a href="/covid19/list" style="outline-style: solid; padding: 83px; color: white; background-color: salmon; margin-left: 356px;">예방 접종 센터조회</a>
    <a href="/hosp" style="outline-style: solid; padding: 80px; color: white; background-color: darksalmon; float: right; margin-inline: 413px; margin-top: -101px;">코로나치료 가능병원</a>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</body>
</html>